!! IOS XR Configuration version = 6.5.2.28I
!! Last configuration change at Mon Feb 11 04:43:35 2019 by rtrdev
!
hostname rtr1
domain name cisco.local
domain name-server 8.8.8.8
username rtrdev
 group root-lr
 group cisco-support
 secret 5 $1$mtK/$tVi/gbwfgZu6imOoriwxV.
!
tpa
 vrf default
  address-family ipv4
   default-route mgmt
   update-source dataports MgmtEth0/RP0/CPU0/0
  !
  address-family ipv6
   default-route mgmt
   update-source dataports MgmtEth0/RP0/CPU0/0
  !
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Loopback0
 ipv4 address 172.16.1.1 255.255.255.255
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 100.96.0.14 255.240.0.0
!
interface GigabitEthernet0/0/0/0
 ipv4 address 10.1.1.20 255.255.255.0
 ipv6 enable
 no shutdown
!
interface GigabitEthernet0/0/0/1
 ipv4 address 10.2.1.10 255.255.255.0
 ipv6 enable
 no shutdown
!
interface GigabitEthernet0/0/0/2
 ipv4 address 10.3.1.10 255.255.255.0
 ipv6 enable
 no shutdown
!
interface GigabitEthernet0/0/0/3
 ipv4 address 10.7.1.10 255.255.255.0
 no shutdown
!
interface GigabitEthernet0/0/0/4
 shutdown
!
interface GigabitEthernet0/0/0/5
 shutdown
!
interface GigabitEthernet0/0/0/6
 shutdown
!
interface GigabitEthernet0/0/0/7
 shutdown
!
interface GigabitEthernet0/0/0/8
 shutdown
!
interface GigabitEthernet0/0/0/9
 shutdown
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 100.96.0.1
 !
!
mpls static
 interface GigabitEthernet0/0/0/0
 interface GigabitEthernet0/0/0/1
 interface GigabitEthernet0/0/0/2
 interface GigabitEthernet0/0/0/3
!
grpc
 port 57777
 no-tls
 service-layer
 !
!
netconf-yang agent
 ssh
!
lldp
!
ssh server v2
ssh server vrf default
ssh server netconf vrf default
end
